<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<script>

  const mymaproute={
    'Layout':"Layout",
    '/Base_Manage/Base_Action/List':()=>import('@/views/Base_Manage/Base_Action/List'),
    '/Base_Manage/Base_AppSecret/List':()=>import('@/views/Base_Manage/Base_AppSecret/List'),
    '/Base_Manage/Base_User/List':()=>import('@/views/Base_Manage/Base_Action/List'),
    '/Base_Manage/Base_Role/List':()=>import('@/views/Base_Manage/Base_Action/List'),
    '/Base_Manage/Base_Department/List':()=>import('@/views/Base_Manage/Base_Department/List'),
    '/Base_Manage/Base_UserLog/List':() =>import('@/views/Base_Manage/Base_UserLog/List'),
    '/Home/Statis':() =>import('@/views/Home/Introduce'),
    '/Home/Introduce':() => import('@/views/Home/Introduce'),
  }
  let map=new Map(Object.entries(mymaproute));

  /**Test2 */
 var k= [
{
  "Type": 0,
  "Url": null,
  "path": null,
  "component": "Layout",
  "NeedAction": true,
  "TypeText": "菜单",
  "NeedActionText": "是",
  "children": [
    {
      "Type": 1,
      "Url": "/Home/Introduce",
      "path": "/Home/Introduce",
      "component": "/Home/Introduce",
      "NeedAction": false,
      "TypeText": "页面",
      "NeedActionText": "否",
      "children": null,
      "meta": {
        "title": "框架介绍",
        "icon": null,
        "roles": [],
        "noCache": false
      },
      "name": "/Home/Introduce",
      "title": "框架介绍",
      "value": "1193158630615027712",
      "key": "1193158630615027712",
      "selectable": false,
      "icon": null,
      "Sort": 0,
      "PermissionValues": [],
      "Id": "1193158630615027712",
      "Value": "1193158630615027712",
      "ParentId": "1193158266167758848",
      "Level": 2,
      "Text": "框架介绍",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Home/Statis",
      "path": "/Home/Statis",
      "component": "/Home/Statis",
      "NeedAction": false,
      "TypeText": "页面",
      "NeedActionText": "否",
      "children": null,
      "meta": {
        "title": "运营统计",
        "icon": null,
        "roles": [],
        "noCache": false
      },
      "name": "/Home/Statis",
      "title": "运营统计",
      "value": "1193158780011941888",
      "key": "1193158780011941888",
      "selectable": false,
      "icon": null,
      "Sort": 0,
      "PermissionValues": [],
      "Id": "1193158780011941888",
      "Value": "1193158780011941888",
      "ParentId": "1193158266167758848",
      "Level": 2,
      "Text": "运营统计",
      "Children": null
    }
  ],
  "meta": {
    "title": "首页",
    "icon": "home",
    "roles": [],
    "noCache": true
  },
  "name": null,
  "title": "首页",
  "value": "1193158266167758848",
  "key": "1193158266167758848",
  "selectable": false,
  "icon": "home",
  "Sort": 0,
  "PermissionValues": [],
  "Id": "1193158266167758848",
  "Value": "1193158266167758848",
  "ParentId": null,
  "Level": 1,
  "Text": "首页",
  "Children": [
    {
      "Type": 1,
      "Url": "/Home/Introduce",
      "path": "/Home/Introduce",
      "component": "/Home/Introduce",
      "NeedAction": false,
      "TypeText": "页面",
      "NeedActionText": "否",
      "children": null,
      "meta": {
        "title": "框架介绍",
        "icon": null,
        "roles": [],
        "noCache": false
      },
      "name": "/Home/Introduce",
      "title": "框架介绍",
      "value": "1193158630615027712",
      "key": "1193158630615027712",
      "selectable": false,
      "icon": null,
      "Sort": 0,
      "PermissionValues": [],
      "Id": "1193158630615027712",
      "Value": "1193158630615027712",
      "ParentId": "1193158266167758848",
      "Level": 2,
      "Text": "框架介绍",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Home/Statis",
      "path": "/Home/Statis",
      "component": "/Home/Statis",
      "NeedAction": false,
      "TypeText": "页面",
      "NeedActionText": "否",
      "children": null,
      "meta": {
        "title": "运营统计",
        "icon": null,
        "roles": [],
        "noCache": false
      },
      "name": "/Home/Statis",
      "title": "运营统计",
      "value": "1193158780011941888",
      "key": "1193158780011941888",
      "selectable": false,
      "icon": null,
      "Sort": 0,
      "PermissionValues": [],
      "Id": "1193158780011941888",
      "Value": "1193158780011941888",
      "ParentId": "1193158266167758848",
      "Level": 2,
      "Text": "运营统计",
      "Children": null
    }
  ]
},
{
  "Type": 0,
  "Url": "",
  "path": "",
  "component": "Layout",
  "NeedAction": true,
  "TypeText": "菜单",
  "NeedActionText": "是",
  "children": [
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_User/List",
      "path": "/Base_Manage/Base_User/List",
      "component": "/Base_Manage/Base_User/List",
      "NeedAction": true,
      "TypeText": "页面",
      "NeedActionText": "是",
      "children": null,
      "meta": {
        "title": "用户管理",
        "icon": null,
        "roles": [
          "增(Base_User.Add)",
          "改(Base_User.Edit)",
          "删(Base_User.Delete)"
        ],
        "noCache": true
      },
      "name": "/Base_Manage/Base_User/List",
      "title": "用户管理",
      "value": "1182652266117599232",
      "key": "1182652266117599232",
      "selectable": false,
      "icon": null,
      "Sort": 0,
      "PermissionValues": [
        "增(Base_User.Add)",
        "改(Base_User.Edit)",
        "删(Base_User.Delete)"
      ],
      "Id": "1182652266117599232",
      "Value": "1182652266117599232",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "用户管理",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_Role/List",
      "path": "/Base_Manage/Base_Role/List",
      "component": "/Base_Manage/Base_Role/List",
      "NeedAction": true,
      "TypeText": "页面",
      "NeedActionText": "是",
      "children": null,
      "meta": {
        "title": "角色管理",
        "icon": null,
        "roles": [
          "增(Base_Role.Add)",
          "改(Base_Role.Edit)",
          "删(Base_Role.Delete)"
        ],
        "noCache": true
      },
      "name": "/Base_Manage/Base_Role/List",
      "title": "角色管理",
      "value": "1182652367447789568",
      "key": "1182652367447789568",
      "selectable": false,
      "icon": null,
      "Sort": 5,
      "PermissionValues": [
        "增(Base_Role.Add)",
        "改(Base_Role.Edit)",
        "删(Base_Role.Delete)"
      ],
      "Id": "1182652367447789568",
      "Value": "1182652367447789568",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "角色管理",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_Department/List",
      "path": "/Base_Manage/Base_Department/List",
      "component": "/Base_Manage/Base_Department/List",
      "NeedAction": true,
      "TypeText": "页面",
      "NeedActionText": "是",
      "children": null,
      "meta": {
        "title": "部门管理",
        "icon": null,
        "roles": [
          "增(Base_Department.Add)",
          "改(Base_Department.Edit)",
          "删(Base_Department.Delete)"
        ],
        "noCache": true
      },
      "name": "/Base_Manage/Base_Department/List",
      "title": "部门管理",
      "value": "1182652433302556672",
      "key": "1182652433302556672",
      "selectable": false,
      "icon": null,
      "Sort": 10,
      "PermissionValues": [
        "增(Base_Department.Add)",
        "改(Base_Department.Edit)",
        "删(Base_Department.Delete)"
      ],
      "Id": "1182652433302556672",
      "Value": "1182652433302556672",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "部门管理",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_AppSecret/List",
      "path": "/Base_Manage/Base_AppSecret/List",
      "component": "/Base_Manage/Base_AppSecret/List",
      "NeedAction": true,
      "TypeText": "页面",
      "NeedActionText": "是",
      "children": null,
      "meta": {
        "title": "密钥管理",
        "icon": null,
        "roles": [
          "增(Base_AppSecret.Add)",
          "改(Base_AppSecret.Edit)",
          "删(Base_AppSecret.Delete)"
        ],
        "noCache": true
      },
      "name": "/Base_Manage/Base_AppSecret/List",
      "title": "密钥管理",
      "value": "1179018395304071168",
      "key": "1179018395304071168",
      "selectable": false,
      "icon": null,
      "Sort": 15,
      "PermissionValues": [
        "增(Base_AppSecret.Add)",
        "改(Base_AppSecret.Edit)",
        "删(Base_AppSecret.Delete)"
      ],
      "Id": "1179018395304071168",
      "Value": "1179018395304071168",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "密钥管理",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_Action/List",
      "path": "/Base_Manage/Base_Action/List",
      "component": "/Base_Manage/Base_Action/List",
      "NeedAction": true,
      "TypeText": "页面",
      "NeedActionText": "是",
      "children": null,
      "meta": {
        "title": "权限管理",
        "icon": null,
        "roles": [
          "增(Base_Action.Add)",
          "改(Base_Action.Edit)",
          "删(Base_Action.Delete)"
        ],
        "noCache": true
      },
      "name": "/Base_Manage/Base_Action/List",
      "title": "权限管理",
      "value": "1178957553778823168",
      "key": "1178957553778823168",
      "selectable": false,
      "icon": null,
      "Sort": 20,
      "PermissionValues": [
        "增(Base_Action.Add)",
        "改(Base_Action.Edit)",
        "删(Base_Action.Delete)"
      ],
      "Id": "1178957553778823168",
      "Value": "1178957553778823168",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "权限管理",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_UserLog/List",
      "path": "/Base_Manage/Base_UserLog/List",
      "component": "/Base_Manage/Base_UserLog/List",
      "NeedAction": false,
      "TypeText": "页面",
      "NeedActionText": "否",
      "children": null,
      "meta": {
        "title": "操作日志",
        "icon": null,
        "roles": [],
        "noCache": false
      },
      "name": "/Base_Manage/Base_UserLog/List",
      "title": "操作日志",
      "value": "1248570020770877440",
      "key": "1248570020770877440",
      "selectable": false,
      "icon": null,
      "Sort": 22,
      "PermissionValues": [],
      "Id": "1248570020770877440",
      "Value": "1248570020770877440",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "操作日志",
      "Children": null
    }
  ],
  "meta": {
    "title": "系统管理",
    "icon": "setting",
    "roles": [],
    "noCache": true
  },
  "name": "",
  "title": "系统管理",
  "value": "1178957405992521728",
  "key": "1178957405992521728",
  "selectable": false,
  "icon": "setting",
  "Sort": 1,
  "PermissionValues": [],
  "Id": "1178957405992521728",
  "Value": "1178957405992521728",
  "ParentId": null,
  "Level": 1,
  "Text": "系统管理",
  "Children": [
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_User/List",
      "path": "/Base_Manage/Base_User/List",
      "component": "/Base_Manage/Base_User/List",
      "NeedAction": true,
      "TypeText": "页面",
      "NeedActionText": "是",
      "children": null,
      "meta": {
        "title": "用户管理",
        "icon": null,
        "roles": [
          "增(Base_User.Add)",
          "改(Base_User.Edit)",
          "删(Base_User.Delete)"
        ],
        "noCache": true
      },
      "name": "/Base_Manage/Base_User/List",
      "title": "用户管理",
      "value": "1182652266117599232",
      "key": "1182652266117599232",
      "selectable": false,
      "icon": null,
      "Sort": 0,
      "PermissionValues": [
        "增(Base_User.Add)",
        "改(Base_User.Edit)",
        "删(Base_User.Delete)"
      ],
      "Id": "1182652266117599232",
      "Value": "1182652266117599232",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "用户管理",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_Role/List",
      "path": "/Base_Manage/Base_Role/List",
      "component": "/Base_Manage/Base_Role/List",
      "NeedAction": true,
      "TypeText": "页面",
      "NeedActionText": "是",
      "children": null,
      "meta": {
        "title": "角色管理",
        "icon": null,
        "roles": [
          "增(Base_Role.Add)",
          "改(Base_Role.Edit)",
          "删(Base_Role.Delete)"
        ],
        "noCache": true
      },
      "name": "/Base_Manage/Base_Role/List",
      "title": "角色管理",
      "value": "1182652367447789568",
      "key": "1182652367447789568",
      "selectable": false,
      "icon": null,
      "Sort": 5,
      "PermissionValues": [
        "增(Base_Role.Add)",
        "改(Base_Role.Edit)",
        "删(Base_Role.Delete)"
      ],
      "Id": "1182652367447789568",
      "Value": "1182652367447789568",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "角色管理",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_Department/List",
      "path": "/Base_Manage/Base_Department/List",
      "component": "/Base_Manage/Base_Department/List",
      "NeedAction": true,
      "TypeText": "页面",
      "NeedActionText": "是",
      "children": null,
      "meta": {
        "title": "部门管理",
        "icon": null,
        "roles": [
          "增(Base_Department.Add)",
          "改(Base_Department.Edit)",
          "删(Base_Department.Delete)"
        ],
        "noCache": true
      },
      "name": "/Base_Manage/Base_Department/List",
      "title": "部门管理",
      "value": "1182652433302556672",
      "key": "1182652433302556672",
      "selectable": false,
      "icon": null,
      "Sort": 10,
      "PermissionValues": [
        "增(Base_Department.Add)",
        "改(Base_Department.Edit)",
        "删(Base_Department.Delete)"
      ],
      "Id": "1182652433302556672",
      "Value": "1182652433302556672",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "部门管理",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_AppSecret/List",
      "path": "/Base_Manage/Base_AppSecret/List",
      "component": "/Base_Manage/Base_AppSecret/List",
      "NeedAction": true,
      "TypeText": "页面",
      "NeedActionText": "是",
      "children": null,
      "meta": {
        "title": "密钥管理",
        "icon": null,
        "roles": [
          "增(Base_AppSecret.Add)",
          "改(Base_AppSecret.Edit)",
          "删(Base_AppSecret.Delete)"
        ],
        "noCache": true
      },
      "name": "/Base_Manage/Base_AppSecret/List",
      "title": "密钥管理",
      "value": "1179018395304071168",
      "key": "1179018395304071168",
      "selectable": false,
      "icon": null,
      "Sort": 15,
      "PermissionValues": [
        "增(Base_AppSecret.Add)",
        "改(Base_AppSecret.Edit)",
        "删(Base_AppSecret.Delete)"
      ],
      "Id": "1179018395304071168",
      "Value": "1179018395304071168",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "密钥管理",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_Action/List",
      "path": "/Base_Manage/Base_Action/List",
      "component": "/Base_Manage/Base_Action/List",
      "NeedAction": true,
      "TypeText": "页面",
      "NeedActionText": "是",
      "children": null,
      "meta": {
        "title": "权限管理",
        "icon": null,
        "roles": [
          "增(Base_Action.Add)",
          "改(Base_Action.Edit)",
          "删(Base_Action.Delete)"
        ],
        "noCache": true
      },
      "name": "/Base_Manage/Base_Action/List",
      "title": "权限管理",
      "value": "1178957553778823168",
      "key": "1178957553778823168",
      "selectable": false,
      "icon": null,
      "Sort": 20,
      "PermissionValues": [
        "增(Base_Action.Add)",
        "改(Base_Action.Edit)",
        "删(Base_Action.Delete)"
      ],
      "Id": "1178957553778823168",
      "Value": "1178957553778823168",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "权限管理",
      "Children": null
    },
    {
      "Type": 1,
      "Url": "/Base_Manage/Base_UserLog/List",
      "path": "/Base_Manage/Base_UserLog/List",
      "component": "/Base_Manage/Base_UserLog/List",
      "NeedAction": false,
      "TypeText": "页面",
      "NeedActionText": "否",
      "children": null,
      "meta": {
        "title": "操作日志",
        "icon": null,
        "roles": [],
        "noCache": false
      },
      "name": "/Base_Manage/Base_UserLog/List",
      "title": "操作日志",
      "value": "1248570020770877440",
      "key": "1248570020770877440",
      "selectable": false,
      "icon": null,
      "Sort": 22,
      "PermissionValues": [],
      "Id": "1248570020770877440",
      "Value": "1248570020770877440",
      "ParentId": "1178957405992521728",
      "Level": 2,
      "Text": "操作日志",
      "Children": null
    }
  ]
}
]



function GetParent(arrs=[]){
  var p=[]
  arrs.forEach(s=>{
    let model={
      path: s.path,
      component: map.get(s.component),
      hidden: true,
      name:s.path,
      meta:s.meta
    }
    if(s.children!=null&&s.children!=undefined){
      model.children=  GetParent(s.children)
    }
    p.push(model)

  })
  return p
}
var kpt=GetParent(k);
console.log(kpt)

/*function GetParent(arrs=[],ParentId){
  var nums=[]
   arrs.forEach(t=>{
     var ks= GetRoute (arrs,t)
     nums.push(ks)
   })
return nums;

}
//ParentId Id
function GetRoute(arr,obj){
  //console.log(obj.meta)
  const newroute=[]
  let model={
    path: obj.path,
    component: map.get(obj.component),
    hidden: true,
    name:obj.path,
    meta:obj.meta
  }
  console.log(obj.children)
  if(obj.children!=null&&obj.children!=undefined)
  {
    model.children=GetRoute(obj.children,model)
  }
  newroute.push(model)
  return newroute;
}

var kpt=GetParent(k,"0")
console.log('%c 🌽 kpt: ', 'font-size:20px;background-color: #2EAFB0;color:#fff;', kpt);*/






</script> -->
